#main-content {
    height: 1fr; /* Expand to take up the available space */
}

#messages-container {
    width: 75%; /* Dynamically take up the rest of the space */
}

#announcements-section {
}

#announcements-title {
    text-align: left;
    background: gray;
    color: white;
    padding: 0 1;
}

#announcements-container {
    height: 1fr; /* Expand to fill the remaining height in the section */
    width: 25%;
}

#command-bar {
    height: auto; /* Fix the input bar at the bottom */
    background: black;
    color: white;
    padding: 1;
}

#header {
    text-align: center;
    padding: 0;
    background: gray;
    color: white;
}
